@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 container">

        <div class="col-lg-6 text-center">
            <h1 class="fw-light" style="color: #2c3e50;">Вітаємо!</h1>
            <p class="lead" style="color: #34495e;">
                У цьому веб-застосунку Ви можете: переглянуті записи, що існують у базі даних, створити нові записи, редагувати та видляти записи. 
                    Для перегляду записів - натисність покликання "Review" у верхній навігації.
                    Також на цій строцінці можна скористатись пошуком значень з бази даних.
                    Для управлінням записів (додавання, редагування, видалення) - натисність на кнопку "Management" та оберіть кнопку з описом необхідної операції.
            </p>
        </div>

</section>
